@import "~bootstrap/scss/bootstrap";

// importo tutte le variabili SCSS
@import './partials/variables.scss';

// importo tutti i mixins SCSS
@import './partials/mixins.scss';

// importo button.scss
@import './button.scss';

// importo scrollbar.scss
@import './scrollbar.scss';

// importo loading.scss
@import './loading.scss';

body {
    background-color: $background;
    overflow: hidden;
}

main{
    height: 100%;
    .my-user-card{
        height: 80vh;
        overflow-y: auto;
    }

    .bg-color{
        background-color: $details;
    }

    .bg-color-2{
        background-color: $background;
    }

    .bg-color-3{
        background-color: $bg-color-3;
    }

    .text-color-2{
        color: $details;
    }

    .text-color-3{
        color: $aside;
    }

    .btn-color{
        background-color: $aside;
    }
    .btn-outline-danger{
        --bs-btn-border-color: none;
    }
}
.custom-container{
    @include custom-container-style;
}
.img-box{
    max-width: $max-width-500;

    img{
       @include image-style-100;
    }
}
.user-img-box{
    max-width: $max-width-500;

    img{
       @include image-style-100-230;
    }
}
.custom-card-register{
    @include custom-card-style-1;
    //container dei tipi di locale
    .container-types{
        background-color: #ece2e2;
        border-radius: 15px;
        width:75%;
        margin:0 auto;
        border:1px solid gray;
    }
    //modifica ai check della registrazione
    .form-check-input {
        box-shadow: none !important;;
        &:checked {
            background-color: $details; 
            border:1px solid black;
        }
    }

    .text-color{
        color: $text;
    }
    .button-color{
        background-color: $details;
    }
}

.custom-card-login{
    @include custom-card-style-2;

    .text-color{
        color: $text;
    }
    .button-color{
        background-color: $details;
    }
}

.row .col-2{

    aside{
        height: 100vh;
        background-color: $aside;

        h1{
            color: $details;
        }

        .text-color-2{
            color: $details;
        }

        .top-aside{
            
            .text-color{
                color: $background;
            }
        }
    }
}

.img-rounded{
    height: $height-150;
    width: $width-150;

    img{
        @include rounded-image-style;
    }
}

.navbar {
    .form-control {
        box-shadow: none !important;
        border: none;
        &:checked {
            background-color: $details; 
            border:1px solid black;
        }
    }
}

.accordion-header{
    opacity: 1;
    transition: opacity 1s ease 0s;

    &:hover{
        opacity: 0.4;
    }
}




