@import "~bootstrap/scss/bootstrap";

// importo tutte le variabili SCSS
@import './partials/variables.scss';

// importo tutti i mixins SCSS
@import './partials/mixins.scss';

body {
    background-color: $background;
}
main{
    .my-user-card{
        height: 80vh;
    }
}
.custom-container{
    @include custom-container-style;
}
.img-box{
    max-width: $max-width-500;

    img{
       @include image-style-100;
    }
}
.custom-card-register{
    @include custom-card-style-1;
    //container dei tipi di locale
    .container-types{
        background-color: #ece2e2;
        border-radius: 15px;
        width:75%;
        margin:0 auto;
        border:1px solid gray;
    }
    //modifica ai check della registrazione
    .form-check-input {
        box-shadow: none !important;;
        &:checked {
            background-color: $details; 
            border:1px solid black;
        }
    }

    .text-color{
        color: $text;
    }
    .button-color{
        background-color: $details;
    }
}

.custom-card-login{
    @include custom-card-style-2;

    .text-color{
        color: $text;
    }
    .button-color{
        background-color: $details;
    }
}

