// importo tutte le variabili SCSS
@import './partials/variables.scss';

// importo tutti i mixins SCSS
@import './partials/mixins.scss';

.button {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &:hover{
        box-shadow: .5px .5px 150px #252525;
    }
}

.type1::after {
content: "A presto!";
    height: 40px;
    width: 120px;
    background-color: $aside;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.type1::before {
content: "Log Out";
    height: 40px;
    width: 120px;
    background-color: #fff;
    color: $aside;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.type1:hover::after {
    transform: translateY(0) scale(1.2);
}

.type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}