// importo tutte le variabili SCSS
@import './partials/variables.scss';

// importo tutti i mixins SCSS
@import './partials/mixins.scss';

/*

    SCROLLBAR  

*/

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    padding: 2px;
    border-radius: 80px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $text-2; 
    padding: 2px;
    border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8d8989;
    padding: 2px;
}