// importo tutte le variabili SCSS
@import './partials/variables.scss';

// importo tutti i mixins SCSS
@import './partials/mixins.scss';

/*

    SCROLLBAR  

*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    padding: 2px;
    border-radius: 80px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $details; 
    padding: 2px;
    border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ca3a3a; 
    padding: 2px;
}