// importo tutte le variabili SCSS
@import './partials/variables.scss';

// importo tutti i mixins SCSS
@import './partials/mixins.scss';

/*

    SOCIALS ON WELCOME PAGE

*/
.socials-card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: $utility;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;

    &:active{
        transform: scale(0.9);
        transition-duration: 0.3s;
    }
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;

    i{
        color: white;
    }
}
/* twitter/x*/
    .containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;

    i{
        color: white;
    }
}
/*facebook*/
    .containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;

    i{
        color: white;
    }
}
/*github*/
.containerFour:hover {
    background-color: green;
    transition-duration: 0.3s;

    i{
        color: white;
    }
}