@import "~bootstrap/scss/bootstrap";

/*

    PALETTE

*/
$aside: #8b2c34;
$background: #F4E9DD;
$details: #F14647;
$text: #1F272D;
$utility: #F7F7F7;
$text-2: #afacac;
$bg-color-3: #d4a0a0;

/*

    LARGHEZZE

*/
$width-150: 150px;
$width-500: 500px;
$width-800: 800px;
$width-1000: 1000px;
$max-width-500: 500px;
$max-width-800: 800px;
$max-width-1000: 1000px;
/*

    ALTEZZE

*/
$height-150: 150px;
$height-200: 200px;
$height-300: 300px;
$height-350: 350px;
$height-400: 400px;
$height-500: 500px;
$height-1000: 1000px;
$max-height-500: 500px;
$max-height-800: 800px;
$max-height-1000: 1000px;
/*

    ACCORDION

*/
$accordion-padding-y: 1rem;
$accordion-padding-x: 1.25rem;
$accordion-color: white;
$accordion-bg: $aside;
$accordion-border-width: var(--#{$prefix}border-width);
$accordion-border-color: none;
$accordion-border-radius: var(--#{$prefix}border-radius);
$accordion-inner-border-radius: subtract($accordion-border-radius, $accordion-border-width);

$accordion-body-padding-y: none;
$accordion-body-padding-x: none;
$accordion-button: none;
$accordion-button-padding-y: none;
$accordion-button-padding-x: none;
$accordion-button-color: none;
$accordion-button-bg: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: none;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
$accordion-icon-color: none;
$accordion-icon-active-color: none;
$accordion-button-icon: none;
$accordion-button-active-icon: none;

